body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    background-image: url("https://t3.ftcdn.net/jpg/00/97/46/36/360_F_97463619_ZHqQiR70xv5HRiTJlkfyetkzxrmezDtP.jpg");
    background-size: cover;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: green;
    background: goldenrod;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    width: 150px;
    margin: 2px;
    padding: 5px;
}